@using ProjWeb.Models;
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@{
    if ((User)Session["visitor"] != null)
    {
        User visitor = (User)Session["visitor"];
        <h1>YOU ARE LOGGED IN AS @visitor.role - @visitor.username</h1>
        <form method="post" action="~/Users/Logout">
            <input type="submit" value="Logout" />
        </form>
    }
    else
    {
        <h1>YOU ARE NOT LOGGED IN</h1>
        <form method="post" action="~/Users/login">
            <input name="username" id="username" />
            <label for="username">username</label>
            <br />
            <input name="password" type="password" id="password" />
            <label for="password">password</label>
            <br />
            <input type="submit" value="Login" />
        </form>

    }
}